node_modules/
lib/
*.tgz
.DS_Store
coverage/
.idea/
.vscode/
package-lock.json

example/node_modules/
example/android/build/
example/android/app/build/
example/android/.gradle/
example/android/local.properties
example/ios/build/
example/ios/Pods/
example/.bundle/
